<form [formGroup]="form">
  <div style="margin-bottom: 10px">
    <label style="margin-right: 10px">Enter Code</label>
    <input type="text" formControlName="input" />
  </div>
  <div style="margin-bottom: 10px">
    <label>Type</label>
    <select formControlName="type">
      <option value="code128">Code 128</option>
      <option value="codabar">Codabar</option>
      <option value="code39">Code 39</option>
      <option value="msi">MSI</option>
      <option value="upc">UPC</option>
      <option value="pharmacode">Pharmacode</option>
    </select>
  </div>

  <div style="margin-bottom: 10px">
    <button (click)="generateBarCode()">GenerateBarcode</button>
    <button (click)="printBarCode()">Print Barcode</button>
    <button (click)="printQrCode()">Print Qrcode</button>
  </div>

  <div id="barcodeprint">
    <svg id="barcode"></svg>
    <svg id="barcode"></svg>
    <svg id="barcode"></svg>
  </div>

  <div id="qrcodeprint">
    <div class="item">
      <qrcode
        [qrdata]="qrcodeValue"
        [allowEmptyString]="true"
        [width]="70"
        [errorCorrectionLevel]="'M'"
      ></qrcode>
      <span class="qrText">{{ qrcodeValue }}</span>
    </div>
    <div class="item">
      <qrcode
        [qrdata]="qrcodeValue"
        [allowEmptyString]="true"
        [width]="70"
        [errorCorrectionLevel]="'M'"
      ></qrcode>
      <span class="qrText">{{ qrcodeValue }}</span>
    </div>
    <div class="item">
      <qrcode
        [qrdata]="qrcodeValue"
        [allowEmptyString]="true"
        [width]="70"
        [errorCorrectionLevel]="'M'"
      ></qrcode>
      <span class="qrText">{{ qrcodeValue }}</span>
    </div>
  </div>
</form>
<div>
  <input type="text" hidden (window:keypress)="onKey($event)" autofocus />
  <p>Scanned barcode: {{ scannedBarcode }}</p>
</div>
