#barcodeprint {
  display: flex;
  gap: 130px;
  padding: 20px;
  padding-left: 120px;
}

.item {
  display: flex;
  align-items: center;
}

.qrText {
  font-size: 18px;
  width: 100px;
}

#qrcodeprint {
  display: flex;
  gap: 34px;
  padding: 0 25px;
  padding-top: 13px;
  padding-left: 51px;
}
